# Homework 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the data
data = pd.read_csv("data.csv")

In [3]:
# Take a look at the data
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 1

I did it in the command line by first opening the python environment and then imputtin `numpy.__version__`.

## Question 2

In [4]:
data.shape[0]

11914

## Question 3

In [5]:
data["Make"].value_counts().iloc[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4

In [6]:
len(data[data["Make"] == "Audi"]["Model"].unique())

34

## Question 5

In [7]:
data.isnull().sum().sort_values(ascending = False)

Market Category      3742
Engine HP              69
Engine Cylinders       30
Number of Doors         6
Engine Fuel Type        3
Make                    0
Model                   0
Year                    0
Transmission Type       0
Driven_Wheels           0
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

## Question 6

In [8]:
ec_median = data["Engine Cylinders"].median()
ec_mode = data["Engine Cylinders"].mode()

print(ec_median)
print(ec_mode)

6.0
0    4.0
dtype: float64

In [9]:
clean_ec = data["Engine Cylinders"].fillna(ec_mode)
ec_clean_median = data["Engine Cylinders"].mean()

In [10]:
print(ec_clean_median)

5.628828677213059

## Question 7

In [11]:
df = data[data["Make"] == "Lotus"][["Engine HP", "Engine Cylinders"]].drop_duplicates()

In [12]:
df

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [13]:
X = df.to_numpy()

In [14]:
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)

In [15]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [16]:
w = (XTX_inv @ X.T) @ y

In [17]:
w

array([  4.59494481, -63.56432501])